.billmateoverlay {
    display:    none;
    position:   relative;
    z-index:    1000;
    top:        -700px;
    left:       0;
    width: 200px;
    height: 200px;
    margin: auto auto;
    border: 3px solid rgba(0,0,0,0);
    border-radius: 50%;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#checkoutdiv.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#checkoutdiv.loading .billmateoverlay {
    display: block;
}
#checkoutdiv.loading #checkout{
    display:none;
}
.wc-proceed-to-checkout {
    display:none!important;
    height: 0px !important;
    margin: 0px !important;
    overflow: hidden !important;
    padding: 0px !important;
    position: relative !important;
    width: 0px !important;
}